#uzbl_link_hints > span {
    background-color:   #aaff00;
    color:              black;
    border:             2px solid #556600;
    font-family:        Verdana;
    font-size:          9px;
    font-weight:        bold;
    font-variant:       normal;
    line-height:        9px;
    margin:             0px;
    width:              auto; /* fix broken rendering on w3schools.com */
    padding:            1px;
    z-index:            1000;
    text-decoration:    none;
    -webkit-transform:  translate(-5px,-5px);
}

/* we can have different colours for different types of hints! */
#uzbl_link_hints.new-window > span {
    background-color: #ffff00;
}

/* vim:set et ts=4: */
